# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Virtual env
.venv/
venv/

# Test / coverage
.coverage
htmlcov/
.pytest_cache/

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
.demo*
